html, body, h1, a {
    padding: 0;
    border: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
}
fieldset {
    width: 260px;
    height: 280px;
    border-radius: 3%;
    margin: 150px auto; /* center the fieldset horizontally*/
}
h1 {
    padding: 24px;
    font-size: 34px;
    font-family: Arial, sans-serif
}
body {
    text-align: center;
    padding: center;
}
input[type="Submit"] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px ;
    margin: 20px;
    background-color: white;
    border: 1px solid #555555;
    color: #555555;
    text-decoration: none;
    width: 240px;
}
  }
.example {
    font-family: Arial, sans-serif;
}
p {
    font-family: Arial, sans-serif;
}
.email {
    font-family: Arial, sans-serif;
}