  html, body, h1, h2 {
    padding: 0;
    border: 0;
    margin: 0;
    font: serif;
    font-size: 100%;
  }
body {
    background-color: lightgoldenrodyellow;
}

  #navContainer {
    background-color: goldenrod;
    padding: 20px;
      margin-top:-80px;
    height:10px;
    width: 100%;
    position:fixed;
    display:flex;
    flex-flow:column wrap;
}

  #navContainer a:first-child {
      color:white;
      font-size:15px;
      text-decoration:none;
      display: flex;
      justify-content:flex-start;
      align-items:center;
}

  #navContainer a:last-child {
     color:white;
      font-size:15px;
      text-decoration:none;
      margin-right: 40px;
      display:flex;
      justify-content: flex-end; 
      align-content: space-around;
      
}

  #cardsContainer {
    margin-top: 80px;
    width: 100%;
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
}

  .card {
      width: 120px;
      padding: 20px;
    background-color: white;
      margin-bottom:10px;
      margin-left: 5px;
    border: goldenrod solid 1px;
    border-radius: 2%;
      text-align: left;
      font-family: sans-serif;
      justify-content:center;
  }

  img {
    width: 130px;
    border: goldenrod 10px;
    padding: 0;
      margin-top: 15px;
  }